.common{  
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}
.mainbodyvid{
    background-color: whitesmoke;
    text-align: center;
}
.mainbody{
    background-color: whitesmoke;
}
.header{
    background-color:black;
    color:whitesmoke;
    height: 75px;
    line-height: 75px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
nav{
    background-color: lightgrey;
    padding:10x;
    overflow: hidden;
    text-align: right;
}
body{
    background-color: whitesmoke;
}
.smalltext{
    color: grey;
    text-align: center;
}
.resume{
    text-align: left;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}
ol{
    font-size: smaller;
    margin-top: auto;
    margin-bottom: auto;
}
h2,h3,h4,h5,h6{
    margin-top: auto;
    margin-bottom: auto;
}
ul{
    font-size: smaller;
    margin-top: auto;
    margin-bottom: auto;
}
.resumeheader{
    text-decoration: underline;
}
div{
    margin-top: auto;
    margin-bottom: auto;
}
